body {
    margin: 0;
    padding: 0 0 40px 0;

    width: 98vw;

}
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 5px;
    color: #000000;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;    
   padding: 5px;
}

.logo img {
    width: 60px;
    border-radius: 50%;
    margin-left: 30px;
    
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    transition: color 1s;
}

.navbar a:hover {
    color: #f1c40f;
    text-decoration: none;
    transform: translateY(-3px);
}

.consult-btn,
.contact-btn {
    background-color: #000;
    color: #f1f1f1;
    padding: 10px 20px;
    border: 1px solid #666;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.consult-btn:hover,
.contact-btn:hover {
    background-color: #c25c1c;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 0%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.navbar a {
    padding: 5px 20px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    transition: color 1s;
}

.navbar a:hover {
    color: #f1c40f;
    text-decoration: none;
    transform: translateY(-3px);
}

@keyframes darkenBackground {
    0% {
        background-color: rgba(255, 158, 0, 1);
    }

    50% {
        background-color: rgba(255, 158, 0, 0.4);
        /* Adjust the alpha value for darkness */
    }

    100% {
        background-color: rgba(255, 158, 0, 1);
    }
}

.heading {
    padding: 10px;
    margin: 30px 5% 140px 5%;
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgba(255, 158, 0, 1);
    animation: darkenBackground 2s ease infinite;
    font-size: 30px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 30px;
}

.content {

    padding: 0px 70px;
}


p {
    font-size: 20px;
}
