body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191414;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;    
 padding: 5px;
}

.logo img {
  width: 60px;
  border-radius: 50%;
  margin-left: 30px;
  
}
h1 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
  
}
h1:hover{
  color:#db0000;
}
.navbar {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: color 1s;
}

.navbar a:hover {
  color: #f1c40f;
  text-decoration: none;
  transform: translateY(-3px);
}

.consult-btn,
.contact-btn {
  background-color: #000;
  color: #f1f1f1;
  padding: 10px 20px;
  border: 1px solid #666;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.consult-btn:hover,
.contact-btn:hover {
  background-color: #c25c1c;
}

:root {
  --parchment: #f2e6d6;
  --meteorite: #3c2168;
  --piper: #d66927;
  --zest: #e5771f;
  --napa: #ac9d8c;
  --soft-amber: #cfc0ae;
  --amethyst-smoke: #a398b4;
  --light-wisteria: #bb9adb;
  --sirocco: #6c7c7c;
}
h2 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
  
}
h2:hover{
  color:#db0000;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  margin-top: 20px; /* Add margin-top to separate videos and songs from the header */
}

.video,
.song {
  width: 300px;
  height: 400px; /* Set a fixed height for the containers */
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column; /* Align text below the thumbnail */
}

.video:hover,
.song:hover {
  transform: scale(1.05);
}

.thumbnail {
  flex: 1; /* Expand the thumbnail to fill the container */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.thumbnail img {
  width: 100%;
  height: 100%; /* Make the image cover the entire thumbnail */
  object-fit: cover; /* Maintain aspect ratio and cover the thumbnail */
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.video:hover .overlay,
.song:hover .overlay {
  opacity: 1;
}

.overlay i {
  font-size: 50px;
  color: #fff;
}

h3 {
  margin-top: 10px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal iframe {
  width: 80%;
  height: 80%;
  margin: 10% 10%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

h2 {
  text-align: center;
  color: #fff;
}
